In [24]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
np.set_printoptions(suppress=True)

In [102]:
df = pd.read_csv('Sweden Load Data 2005-2017.csv')
df.rename({'cet_cest_timestamp':'time','SE_load_actual_tso':'load'},axis='columns',inplace=True)
df['time'] = pd.to_datetime(df['time'],errors='ignore', utc=True)

In [104]:
df['weekday'] = df['time'].dt.weekday

In [120]:
df['load'].values.tolist()

[15991.34,
 15673.12,
 15431.81,
 15326.48,
 15468.59,
 15717.19,
 15936.22,
 16032.7,
 16091.51,
 16563.9,
 16997.13,
 17120.22,
 17237.21,
 17418.9,
 17939.93,
 18537.65,
 18610.38,
 18302.57,
 17935.56,
 17465.78,
 16950.03,
 16335.14,
 15708.7,
 15107.03,
 14794.95,
 14685.88,
 14615.4,
 14617.3,
 14813.46,
 15158.68,
 15683.33,
 16166.35,
 16655.89,
 17256.68,
 17658.23,
 17704.97,
 17849.45,
 18066.68,
 18691.28,
 19334.58,
 19453.6,
 19236.18,
 18961.63,
 18644.97,
 18021.66,
 17317.62,
 16589.04,
 16050.19,
 15792.37,
 15706.93,
 15741.03,
 16104.5,
 16911.38,
 18586.34,
 20342.09,
 21078.03,
 21078.13,
 21212.16,
 21212.42,
 21095.02,
 20995.86,
 21124.35,
 21708.93,
 22119.4,
 22046.0,
 21645.52,
 21183.17,
 20463.09,
 19667.84,
 18705.46,
 17649.67,
 16874.03,
 16509.31,
 16385.98,
 16327.34,
 16583.86,
 17265.29,
 18875.05,
 20650.26,
 21299.2,
 21161.54,
 21345.62,
 21427.29,
 21430.74,
 21457.98,
 21573.71,
 22176.52,
 22153.98,
 21913.14,
 21309.24,
 20732.16,
 20084.68,
 19331.66,
 18336.94,
 17278.7,
 16348.92,
 15844.89,
 15679.65,
 15803.74,
 16044.86,
 16777.92,
 18365.25,
 19907.28,
 20530.16,
 20396.67,
 20637.75,
 20639.79,
 20348.54,
 20306.23,
 20240.69,
 20770.54,
 21433.2,
 21409.06,
 20931.46,
 20135.22,
 19423.68,
 18618.14,
 17845.95,
 16984.36,
 16293.47,
 15875.02,
 15617.47,
 15503.7,
 15638.85,
 15793.48,
 16460.96,
 17032.97,
 17590.33,
 17941.25,
 18375.37,
 18537.02,
 18592.03,
 18471.29,
 18547.65,
 19176.29,
 20010.66,
 20141.31,
 19796.06,
 19325.36,
 18708.87,
 18073.93,
 17313.8,
 16480.1,
 15852.01,
 15461.54,
 15231.43,
 15144.28,
 15232.6,
 15657.06,
 16575.96,
 17791.59,
 18478.91,
 18674.87,
 18838.59,
 18931.17,
 18860.34,
 18758.8,
 18721.99,
 19134.35,
 19431.05,
 19523.63,
 19068.83,
 18401.89,
 17536.62,
 16926.09,
 16314.65,
 15546.21,
 14851.8,
 14519.46,
 14269.74,
 14194.75,
 14207.82,
 14358.14,
 14812.85,
 15404.38,
 16054.59,
 16644.2,
 17346.1,
 17673.34,
 17827.02,
 17772.32,
 17673.41,
 18092.55,
 18671.19,
 18412.53,
 17784.12,
 17466.72,
 16960.33,
 16324.81,
 15631.68,
 14918.96,
 14367.08,
 14007.44,
 13742.36,
 13547.48,
 13562.99,
 13739.33,
 14125.08,
 14573.99,
 15004.98,
 15390.27,
 16111.59,
 16552.51,
 16768.74,
 16807.32,
 16920.87,
 17532.73,
 18500.37,
 19047.94,
 18935.36,
 18589.25,
 18271.4,
 17644.88,
 16836.83,
 15996.82,
 15441.87,
 15204.41,
 15128.7,
 15203.2,
 15430.89,
 16259.61,
 18026.51,
 19869.71,
 20496.68,
 20231.58,
 20331.08,
 20307.0,
 20255.84,
 20208.3,
 20250.47,
 20562.31,
 20597.5,
 20454.56,
 20104.23,
 19514.89,
 18923.01,
 18090.1,
 17037.12,
 15812.42,
 15143.49,
 14753.34,
 14640.29,
 14708.71,
 14962.86,
 15743.62,
 17666.51,
 19758.6,
 20004.4,
 19570.45,
 19581.84,
 19568.11,
 19366.26,
 19352.05,
 19503.06,
 20051.92,
 20709.37,
 20893.18,
 20540.77,
 19970.43,
 19337.12,
 18578.11,
 17542.77,
 16372.21,
 15609.55,
 15209.37,
 15094.67,
 15044.42,
 15210.27,
 15905.63,
 17841.21,
 19967.65,
 20333.21,
 20080.81,
 20156.76,
 20025.38,
 19931.21,
 19912.39,
 20044.1,
 20493.86,
 20780.83,
 21011.92,
 20664.5,
 20030.01,
 19419.09,
 18559.24,
 17460.61,
 16310.33,
 15591.27,
 15256.84,
 15139.92,
 15089.35,
 15290.34,
 16095.22,
 17942.5,
 19931.21,
 20379.99,
 20213.6,
 20298.12,
 20279.32,
 20056.02,
 19817.7,
 19849.07,
 20337.02,
 21055.82,
 21291.63,
 20791.95,
 20371.7,
 19913.96,
 19082.05,
 18077.4,
 16941.97,
 16227.05,
 15905.32,
 15812.18,
 15954.55,
 16150.25,
 17074.5,
 19143.18,
 21369.18,
 21758.44,
 21547.36,
 21559.54,
 21278.07,
 20814.13,
 20311.64,
 20196.94,
 20421.62,
 21221.57,
 21583.2,
 21265.41,
 20550.97,
 19840.53,
 19022.66,
 18322.79,
 17595.04,
 16999.08,
 16672.26,
 16510.46,
 16525.81,
 16651.11,
 16993.08,
 17723.73,
 18608.92,
 19285.88,
 19787.58,
 20062.91,
 20002.93,
 19763.91,
 19488.04,
 19415.41,
 19921.37,
 20901.6,
 21118.46,
 20772.6,
 20183.52,
 19548.45,
 18839.87,
 18122.73,
 17368.78,
 16786.37,
 16331.58,
 15913.78,
 15829.44,
 15902.0,
 16073.75,
 16430.88,
 16891.91,
 17340.12,
 17856.34,
 18430.54,
 18812.13,
 18875.11,
 18699.72,
 18736.23,
 19028.02,
 19824.68,
 20112.21,
 19933.2,
 19598.3,
 19163.16,
 18463.42,
 17434.89,
 16580.91,
 15944.99,
 15726.98,
 15736.77,
 15747.44,
 16063.85,
 16940.61,
 19059.12,
 21352.67,
 21740.8,
 21469.11,
 21417.58,
 21294.22,
 21201.72,
 21194.14,
 21249.43,
 21691.73,
 21972.63,
 21959.26,
 21468.95,
 20843.14,
 20105.44,
 19167.76,
 18146.34,
 16956.1,
 16044.19,
 15642.98,
 15505.75,
 15435.34,
 15749.95,
 16533.62,
 18503.69,
 20598.48,
 21116.0,
 20833.16,
 21038.77,
 21019.21,
 21042.9,
 21038.12,
 21141.05,
 21467.5,
 21649.85,
 21774.66,
 21279.74,
 20748.43,
 20188.73,
 19277.6,
 18151.37,
 16914.03,
 16143.54,
 15802.89,
 15735.87,
 15772.0,
 16081.7,
 16967.68,
 18968.31,
 21233.67,
 21563.14,
 21296.56,
 21337.07,
 21282.19,
 21189.66,
 21059.08,
 21192.28,
 21652.2,
 22211.23,
 22430.72,
 21978.39,
 21468.17,
 20786.89,
 19848.32,
 18714.74,
 17493.76,
 16850.89,
 16557.08,
 16375.97,
 16374.3,
 16634.86,
 17601.56,
 19657.28,
 21735.66,
 21986.13,
 21748.93,
 21786.29,
 21707.45,
 21489.48,
 21360.69,
 21412.52,
 21793.68,
 22202.17,
 22274.42,
 21838.55,
 21349.88,
 20625.68,
 19754.99,
 18743.81,
 17513.66,
 16792.96,
 16528.93,
 16332.09,
 16442.03,
 16748.0,
 17549.52,
 19620.19,
 21912.64,
 22239.16,
 22010.42,
 22023.27,
 21855.21,
 21581.92,
 21238.07,
 21037.69,
 21084.9,
 21579.44,
 21927.03,
 21475.11,
 20715.89,
 19758.46,
 19044.39,
 18332.02,
 17585.93,
 16924.76,
 16600.74,
 16443.54,
 16355.74,
 16485.37,
 16755.37,
 17406.95,
 18275.28,
 18855.31,
 19562.16,
 19898.79,
 19862.23,
 19501.34,
 19092.12,
 19032.31,
 19319.46,
 20461.39,
 21091.87,
 20970.09,
 20482.92,
 19841.19,
 19141.29,
 18455.46,
 17824.92,
 17233.2,
 16904.38,
 16660.46,
 16599.09,
 16691.03,
 16887.42,
 17347.86,
 17875.35,
 18186.71,
 18794.33,
 19326.53,
 19620.31,
 19508.03,
 19429.32,
 19396.07,
 19734.95,
 20743.29,
 21487.52,
 21547.01,
 21281.59,
 20784.13,
 20118.27,
 19109.35,
 18289.67,
 17760.12,
 17495.18,
 17481.65,
 17591.89,
 17801.98,
 18846.71,
 21106.51,
 23335.87,
 23499.66,
 23345.3,
 23298.1,
 23118.99,
 22846.49,
 22727.93,
 22743.37,
 23036.62,
 23564.14,
 24040.87,
 23542.8,
 23117.86,
 22528.22,
 21594.89,
 20447.27,
 19202.67,
 18464.58,
 18149.07,
 18071.57,
 18118.48,
 18399.2,
 19468.75,
 21402.31,
 23482.24,
 23689.38,
 23594.05,
 23519.53,
 23410.65,
 23209.5,
 23084.46,
 23021.02,
 23306.51,
 23808.88,
 24171.28,
 23848.28,
 23338.92,
 22611.44,
 21712.24,
 20558.91,
 19383.11,
 18690.97,
 18418.38,
 18291.73,
 18346.86,
 18615.36,
 19639.09,
 21786.63,
 23867.82,
 23889.34,
 23746.88,
 23707.55,
 23482.23,
 23231.04,
 23037.23,
 23002.19,
 23265.09,
 23750.41,
 23898.8,
 23429.39,
 22984.79,
 22382.33,
 21551.68,
 20434.94,
 19239.47,
 18377.58,
 18009.51,
 17917.83,
 17974.58,
 18142.41,
 19103.97,
 21147.46,
 23087.18,
 23202.63,
 22982.62,
 23055.99,
 22872.54,
 22562.56,
 22391.55,
 22292.7,
 22528.65,
 22877.53,
 23390.75,
 23046.37,
 22610.13,
 22056.74,
 21204.74,
 20096.01,
 18967.2,
 18226.3,
 17987.86,
 17855.29,
 17977.72,
 18228.73,
 19246.78,
 21264.09,
 23320.65,
 23513.95,
 23347.67,
 23330.18,
 23070.52,
 22713.7,
 22282.36,
 22011.62,
 21978.04,
 22450.7,
 23129.95,
 22802.11,
 22088.27,
 21200.28,
 20571.32,
 19870.39,
 19083.88,
 18363.47,
 18099.79,
 17821.65,
 17755.11,
 17875.23,
 18114.84,
 18734.89,
 19510.92,
 20046.55,
 20757.17,
 21113.7,
 20950.06,
 20626.53,
 20425.2,
 20365.02,
 20582.56,
 21426.5,
 21986.66,
 21750.66,
 21115.49,
 20358.06,
 19558.88,
 18797.33,
 18001.31,
 17420.02,
 16949.32,
 16738.33,
 16587.88,
 16564.13,
 16701.27,
 17019.91,
 17507.96,
 17882.59,
 18584.17,
 19072.94,
 19268.27,
 19222.13,
 19198.93,
 19060.59,
 19149.33,
 19857.77,
 20544.65,
 20415.4,
 20078.9,
 19518.95,
 18744.02,
 17771.17,
 16949.19,
 16362.54,
 16090.07,
 16036.96,
 16062.87,
 16479.96,
 17482.67,
 19531.82,
 21708.05,
 21794.97,
 21655.72,
 21388.13,
 21294.67,
 21040.05,
 20717.01,
 20599.67,
 20771.23,
 21148.87,
 22008.59,
 21892.61,
 21424.23,
 20795.71,
 20012.59,
 18873.27,
 17751.57,
 17092.3,
 16806.86,
 16735.21,
 16795.82,
 17030.36,
 17941.94,
 19995.9,
 22109.99,
 22003.22,
 21791.68,
 21650.74,
 21513.09,
 21148.97,
 20944.54,
 20874.36,
 20965.23,
 21362.41,
 22090.26,
 21939.78,
 21441.23,
 20920.3,
 20092.91,
 18993.39,
 17842.78,
 17153.46,
 16842.21,
 16801.45,
 16914.85,
 17164.41,
 18048.32,
 20119.14,
 22157.12,
 22201.3,
 21991.97,
 21858.5,
 21646.88,
 21327.01,
 21155.23,
 20954.91,
 21152.75,
 21585.9,
 22484.22,
 22143.33,
 21750.2,
 21069.74,
 20316.15,
 19181.35,
 17961.03,
 17298.91,
 16962.16,
 16865.49,
 16882.1,
 17126.59,
 18010.65,
 20165.81,
 22208.19,
 22175.97,
 22004.54,
 21926.44,
 21630.29,
 21447.93,
 21325.43,
 21281.04,
 21396.72,
 21791.78,
 22434.46,
 22286.99,
 21752.7,
 21125.7,
 20143.34,
 18985.79,
 17855.09,
 17081.68,
 16733.98,
 16582.64,
 16692.58,
 16963.72,
 17899.2,
 20074.66,
 22120.91,
 22262.17,
 22175.26,
 22157.65,
 22030.56,
 21728.91,
 21434.47,
 21212.63,
 21110.64,
 21275.12,
 21696.61,
 21228.98,
 20358.85,
 19467.93,
 18622.37,
 17738.73,
 16889.26,
 16205.37,
 15751.1,
 15538.78,
 15486.02,
 15493.83,
 15744.78,
 16318.33,
 17095.4,
 17690.77,
 18493.27,
 18900.48,
 19049.8,
 18941.74,
 18805.31,
 18673.44,
 18821.82,
 19338.52,
 19899.17,
 19724.83,
 19132.76,
 18474.47,
 17857.96,
 17233.48,
 16609.28,
 16065.04,
 15762.11,
 15620.66,
 15587.92,
 15692.19,
 15848.24,
 16371.09,
 16960.5,
 17377.87,
 18183.49,
 18634.71,
 18912.52,
 18773.37,
 18654.92,
 18558.04,
 18721.62,
 19558.97,
 20783.93,
 20942.9,
 20650.99,
 20233.35,
 19533.55,
 18621.02,
 17831.11,
 17305.63,
 17248.79,
 17268.82,
 17397.65,
 17748.45,
 18865.18,
 21167.48,
 23287.34,
 23433.43,
 23353.62,
 23109.16,
 22849.76,
 22344.48,
 22013.06,
 21912.59,
 22047.19,
 22283.06,
 23330.28,
 23105.77,
 22650.91,
 22045.59,
 21267.18,
 20304.85,
 19177.2,
 18453.53,
 18254.96,
 18180.69,
 18222.87,
 18606.12,
 19623.55,
 21777.32,
 23760.23,
 23682.67,
 23417.18,
 23306.36,
 22961.27,
 22518.78,
 22123.41,
 21960.34,
 22068.36,
 22297.98,
 23394.57,
 23327.76,
 22873.74,
 22308.13,
 21525.87,
 20531.45,
 19395.33,
 18678.0,
 18368.99,
 18284.37,
 18352.73,
 18555.76,
 19551.38,
 21655.88,
 23611.68,
 23605.12,
 23443.1,
 23340.05,
 23037.93,
 22716.83,
 22406.22,
 22250.05,
 22437.13,
 22628.77,
 23471.51,
 23137.79,
 22690.78,
 21997.7,
 21066.6,
 19922.5,
 18698.21,
 17906.17,
 17596.65,
 17458.91,
 17489.96,
 17738.26,
 18552.1,
 20501.71,
 22372.47,
 22521.06,
 22463.61,
 22493.23,
 22493.91,
 22393.17,
 22226.4,
 21994.54,
 22019.32,
 21852.88,
 22575.88,
 22462.26,
 21904.54,
 21205.78,
 20246.54,
 19144.66,
 17945.9,
 17274.66,
 16879.89,
 16810.78,
 16820.71,
 17118.81,
 18120.69,
 20204.24,
 22029.84,
 22247.31,
 22042.33,
 21811.34,
 21445.28,
 20990.72,
 20470.11,
 20064.27,
 19954.88,
 20213.93,
 ...]

In [139]:
test_df = df.head(25).copy()

In [140]:
test_df['flattened_load'] = test_df['load'].values.tolist()
test_df['action'] = 0

In [141]:
test_df.iloc[0,-1] = 1

In [145]:
test_df['action_shifted'] = test_df['action'].shift()
test_df['flattened_load'] = test_df['flattened_load'].shift()

In [246]:
test_df.weekday.

,time,load,weekday,flattened_load,action,action_shifted
0,2005-01-01 00:00:00+00:00,15991.34,5,nan,1,nan
1,2005-01-01 01:00:00+00:00,15673.12,5,15991.34,0,1.00
2,2005-01-01 02:00:00+00:00,15431.81,5,15673.12,0,0.00
3,2005-01-01 03:00:00+00:00,15326.48,5,15431.81,0,0.00
4,2005-01-01 04:00:00+00:00,15468.59,5,15326.48,0,0.00
5,2005-01-01 05:00:00+00:00,15717.19,5,15468.59,0,0.00
6,2005-01-01 06:00:00+00:00,15936.22,5,15717.19,0,0.00
7,2005-01-01 07:00:00+00:00,16032.70,5,15936.22,0,0.00
8,2005-01-01 08:00:00+00:00,16091.51,5,16032.70,0,0.00
9,2005-01-01 09:00:00+00:00,16563.90,5,16091.51,0,0.00
10,2005-01-01 10:00:00+00:00,16997.13,5,16563.90,0,0.00
11,2005-01-01 11:00:00+00:00,17120.22,5,16997.13,0,0.00
12,2005-01-01 12:00:00+00:00,17237.21,5,17120.22,0,0.00
13,2005-01-01 13:00:00+00:00,17418.90,5,17237.21,0,0.00
14,2005-01-01 14:00:00+00:00,17939.93,5,17418.90,0,0.00
15,2005-01-01 15:00:00+00:00,18537.65,5,17939.93,0,0.00
16,2005-01-01 16:00:00+00:00,18610.38,5,18537.65,0,0.00
17,2005-01-01 17:00:00+00:00,18302.57,5,18610.38,0,0.00
18,2005-01-01 18:00:00+00:00,17935.56,5,18302.57,0,0.00
19,2005-01-01 19:00:00+00:00,17465.78,5,17935.56,0,0.00
20,2005-01-01 20:00:00+00:00,16950.03,5,17465.78,0,0.00
21,2005-01-01 21:00:00+00:00,16335.14,5,16950.03,0,0.00
22,2005-01-01 22:00:00+00:00,15708.70,5,16335.14,0,0.00
23,2005-01-01 23:00:00+00:00,15107.03,5,15708.70,0,0.00
24,2005-01-02 00:00:00+00:00,14794.95,6,15107.03,0,0.00

In [151]:
test_df.load

0    15991.34
1    15673.12
2    15431.81
3    15326.48
4    15468.59
5    15717.19
6    15936.22
7    16032.70
8    16091.51
9    16563.90
10   16997.13
11   17120.22
12   17237.21
13   17418.90
14   17939.93
15   18537.65
16   18610.38
17   18302.57
18   17935.56
19   17465.78
20   16950.03
21   16335.14
22   15708.70
23   15107.03
24   14794.95
Name: load, dtype: float64

In [154]:
test_df.load.values

array([15991.34, 15673.12, 15431.81, 15326.48, 15468.59, 15717.19,
       15936.22, 16032.7 , 16091.51, 16563.9 , 16997.13, 17120.22,
       17237.21, 17418.9 , 17939.93, 18537.65, 18610.38, 18302.57,
       17935.56, 17465.78, 16950.03, 16335.14, 15708.7 , 15107.03,
       14794.95])

In [113]:
class Complex:
     def __init__(self, realpart, imagpart):
        self.r = realpart
        self.i = imagpart

x = Complex(3.0)

TypeError: __init__() missing 1 required positional argument: 'imagpart'

In [245]:
test_df['load']

0    15991.34
1    15673.12
2    15431.81
3    15326.48
4    15468.59
5    15717.19
6    15936.22
7    16032.70
8    16091.51
9    16563.90
10   16997.13
11   17120.22
12   17237.21
13   17418.90
14   17939.93
15   18537.65
16   18610.38
17   18302.57
18   17935.56
19   17465.78
20   16950.03
21   16335.14
22   15708.70
23   15107.03
24   14794.95
Name: load, dtype: float64

In [284]:
class Agent:    
    def __init__(self,array_loads,array_weekdays,load_idx=0,charge=4,action_space=np.array(['charge','discharge','wait']),policy='random'):
        #load whether we charge
        self.array_loads = array_loads
        self.array_weekdays=array_weekdays
        self.load_idx = load_idx
        self.day_idx = load_idx
        self.charge = charge
        self.policy = policy
        self.prev_state=None
        self.collection_loads = []
        self.collection_rewards = []
    def generate_curr_state(self):
        self.curr_state = self.array_loads[self.load_idx]
        self.collection_loads.append(self.curr_state)
        return self.curr_state
    
    def take_action(self):
        #check whether policy is random and assign candidate action
        if self.policy=='random':
            candidate_action = np.random.choice(action_space, 1)[0]
            #print(candidate_action)
            if candidate_action == 'discharge' and self.charge!=0:
                self.load_idx+=1
                self.day_idx+=1
                if self.array_loads[self.load_idx] >= self.curr_state:
                    self.collection_loads.append(self.curr_state)
                else:
                    self.curr_state = self.generate_curr_state()
                self.charge-=1
            elif candidate_action == 'charge' and self.charge!=4:
                self.load_idx+=1
                self.day_idx+=1
                if self.array_loads[self.load_idx] <= self.curr_state:
                    self.collection_loads.append(self.curr_state)
                else:
                    self.curr_state = self.generate_curr_state()
                self.charge+=1
            else:
                self.load_idx+=1
                self.day_idx+=1
                self.curr_state = self.generate_curr_state()
            self.prev_state= self.collection_loads[self.load_idx-1]

        if self.array_weekdays[self.day_idx]== self.array_weekdays[self.day_idx-1]:
            self.collection_rewards.append(0)
        else:
            cost = 5+0.5*max(self.collection_loads[:-1])+0.05*(max(self.collection_loads[:-1])**2)
            self.collection_rewards.append(cost)
        self.curr_reward = self.collection_rewards[-1]
        #return (self.prev_state,candidate_action,self.curr_reward,self.curr_state)
    def clear_collection_loads(self):
        self.collection_loads = []

create agent

In [255]:
agent1 = Agent(test_df.load.values,test_df.weekday.values)
agent1.generate_curr_state()

generate current state

In [256]:
agent1.generate_curr_state()

15991.34

In [257]:
agent1.__dict__

{'array_loads': array([15991.34, 15673.12, 15431.81, 15326.48, 15468.59, 15717.19,
        15936.22, 16032.7 , 16091.51, 16563.9 , 16997.13, 17120.22,
        17237.21, 17418.9 , 17939.93, 18537.65, 18610.38, 18302.57,
        17935.56, 17465.78, 16950.03, 16335.14, 15708.7 , 15107.03,
        14794.95]),
 'array_weekdays': array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
        5, 5, 6]),
 'load_idx': 0,
 'day_idx': 0,
 'charge': 4,
 'policy': 'random',
 'prev_state': None,
 'collection_loads': [15991.34],
 'collection_rewards': [],
 'curr_state': 15991.34}

First action

In [258]:
agent1.take_action()

wait

(15991.34, 'wait', 0, 15673.12)

In [259]:
agent1.__dict__

{'array_loads': array([15991.34, 15673.12, 15431.81, 15326.48, 15468.59, 15717.19,
        15936.22, 16032.7 , 16091.51, 16563.9 , 16997.13, 17120.22,
        17237.21, 17418.9 , 17939.93, 18537.65, 18610.38, 18302.57,
        17935.56, 17465.78, 16950.03, 16335.14, 15708.7 , 15107.03,
        14794.95]),
 'array_weekdays': array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
        5, 5, 6]),
 'load_idx': 1,
 'day_idx': 1,
 'charge': 4,
 'policy': 'random',
 'prev_state': 15991.34,
 'collection_loads': [15991.34, 15673.12],
 'collection_rewards': [0],
 'curr_state': 15673.12,
 'curr_reward': 0}

Second action

In [260]:
agent1.take_action()

wait

(15673.12, 'wait', 0, 15431.81)

In [261]:
agent1.__dict__

{'array_loads': array([15991.34, 15673.12, 15431.81, 15326.48, 15468.59, 15717.19,
        15936.22, 16032.7 , 16091.51, 16563.9 , 16997.13, 17120.22,
        17237.21, 17418.9 , 17939.93, 18537.65, 18610.38, 18302.57,
        17935.56, 17465.78, 16950.03, 16335.14, 15708.7 , 15107.03,
        14794.95]),
 'array_weekdays': array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
        5, 5, 6]),
 'load_idx': 2,
 'day_idx': 2,
 'charge': 4,
 'policy': 'random',
 'prev_state': 15673.12,
 'collection_loads': [15991.34, 15673.12, 15431.81],
 'collection_rewards': [0, 0],
 'curr_state': 15431.81,
 'curr_reward': 0}

third action

In [262]:
agent1.take_action()

wait

(15431.81, 'wait', 0, 15326.48)

In [263]:
agent1.__dict__

{'array_loads': array([15991.34, 15673.12, 15431.81, 15326.48, 15468.59, 15717.19,
        15936.22, 16032.7 , 16091.51, 16563.9 , 16997.13, 17120.22,
        17237.21, 17418.9 , 17939.93, 18537.65, 18610.38, 18302.57,
        17935.56, 17465.78, 16950.03, 16335.14, 15708.7 , 15107.03,
        14794.95]),
 'array_weekdays': array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
        5, 5, 6]),
 'load_idx': 3,
 'day_idx': 3,
 'charge': 4,
 'policy': 'random',
 'prev_state': 15431.81,
 'collection_loads': [15991.34, 15673.12, 15431.81, 15326.48],
 'collection_rewards': [0, 0, 0],
 'curr_state': 15326.48,
 'curr_reward': 0}

In [34]:
#action_space = np.array(['charge','discharge','wait'])

In [264]:
agent1.take_action()

charge

(15326.48, 'charge', 0, 15468.59)

In [265]:
agent1.__dict__

{'array_loads': array([15991.34, 15673.12, 15431.81, 15326.48, 15468.59, 15717.19,
        15936.22, 16032.7 , 16091.51, 16563.9 , 16997.13, 17120.22,
        17237.21, 17418.9 , 17939.93, 18537.65, 18610.38, 18302.57,
        17935.56, 17465.78, 16950.03, 16335.14, 15708.7 , 15107.03,
        14794.95]),
 'array_weekdays': array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
        5, 5, 6]),
 'load_idx': 4,
 'day_idx': 4,
 'charge': 4,
 'policy': 'random',
 'prev_state': 15326.48,
 'collection_loads': [15991.34, 15673.12, 15431.81, 15326.48, 15468.59],
 'collection_rewards': [0, 0, 0, 0],
 'curr_state': 15468.59,
 'curr_reward': 0}

In [266]:
agent1.take_action()

wait

(15468.59, 'wait', 0, 15717.19)

In [268]:
agent1.__dict__

{'array_loads': array([15991.34, 15673.12, 15431.81, 15326.48, 15468.59, 15717.19,
        15936.22, 16032.7 , 16091.51, 16563.9 , 16997.13, 17120.22,
        17237.21, 17418.9 , 17939.93, 18537.65, 18610.38, 18302.57,
        17935.56, 17465.78, 16950.03, 16335.14, 15708.7 , 15107.03,
        14794.95]),
 'array_weekdays': array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
        5, 5, 6]),
 'load_idx': 5,
 'day_idx': 5,
 'charge': 4,
 'policy': 'random',
 'prev_state': 15468.59,
 'collection_loads': [15991.34,
  15673.12,
  15431.81,
  15326.48,
  15468.59,
  15717.19],
 'collection_rewards': [0, 0, 0, 0, 0],
 'curr_state': 15717.19,
 'curr_reward': 0}

In [269]:
for i in range(10):
    agent1.take_action()

wait
charge
discharge
discharge
charge
charge
charge
discharge
charge
discharge

In [270]:
agent1.__dict__

{'array_loads': array([15991.34, 15673.12, 15431.81, 15326.48, 15468.59, 15717.19,
        15936.22, 16032.7 , 16091.51, 16563.9 , 16997.13, 17120.22,
        17237.21, 17418.9 , 17939.93, 18537.65, 18610.38, 18302.57,
        17935.56, 17465.78, 16950.03, 16335.14, 15708.7 , 15107.03,
        14794.95]),
 'array_weekdays': array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
        5, 5, 6]),
 'load_idx': 15,
 'day_idx': 15,
 'charge': 3,
 'policy': 'random',
 'prev_state': 17939.93,
 'collection_loads': [15991.34,
  15673.12,
  15431.81,
  15326.48,
  15468.59,
  15717.19,
  15936.22,
  16032.7,
  16032.7,
  16032.7,
  16997.13,
  17120.22,
  17237.21,
  17237.21,
  17939.93,
  17939.93],
 'collection_rewards': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'curr_state': 17939.93,
 'curr_reward': 0}

In [271]:
agent1.take_action()

discharge

(17939.93, 'discharge', 0, 17939.93)

In [272]:
agent1.take_action()

charge

(17939.93, 'charge', 0, 18302.57)

In [273]:
agent1.take_action()

discharge

(18302.57, 'discharge', 0, 17935.56)

In [274]:
agent1.take_action()

wait

(17935.56, 'wait', 0, 17465.78)

In [275]:
agent1.take_action()

wait

(17465.78, 'wait', 0, 16950.03)

In [276]:
agent1.take_action()

wait

(16950.03, 'wait', 0, 16335.14)

In [277]:
agent1.take_action()

charge

(16335.14, 'charge', 0, 16335.14)

In [278]:
agent1.take_action()

discharge

(16335.14, 'discharge', 0, 15107.03)

In [279]:
agent1.take_action()

discharge

(15107.03, 'discharge', 16758359.715245001, 14794.95)

In [280]:
agent1.take_action()

discharge

IndexError: index 25 is out of bounds for axis 0 with size 25

In [281]:
agent1.collection_rewards

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 16758359.715245001]

In [283]:
df

                       time     load  weekday
0 2005-01-01 00:00:00+00:00 15991.34        5
1 2005-01-01 01:00:00+00:00 15673.12        5
2 2005-01-01 02:00:00+00:00 15431.81        5
3 2005-01-01 03:00:00+00:00 15326.48        5
4 2005-01-01 04:00:00+00:00 15468.59        5

In [287]:
agent2 = Agent(df.load.values,df.weekday.values)
agent2.generate_curr_state()
for i in range(len(df)-1):
    agent2.take_action()

In [289]:
print(np.mean(agent2.collection_rewards))

1378453.0114575604

In [290]:
agent3 = Agent(df.load.values,df.weekday.values)
agent3.generate_curr_state()
for i in range(len(df)-1):
    agent3.take_action()
print(np.mean(agent3.collection_rewards))

1380690.8958933547